


body {
    background-color: azure;
    background-image: url("pic/bgDarkP.gif");
    background-size:cover;
    
}

header{
    width: 100%;
    height:3em ;
    background-color: black;

}

button {
    cursor: pointer;
}
.mainback{
    width: 2em;
    height: 2em;
    border:none ;
    color: rgb(49, 206, 206);
    background-color: azure;
    box-shadow: 1em 1em 1em rgb(255, 0, 0);
    text-shadow: 1px 1px 1px rgb(255, 0, 0);
    border-radius: 1em;
    margin-left: 3em;
    float: left;
}
.back{
    width: 3em;
    height: 3em;
    border:none ;
    color: azure;
    background-color: black;
    box-shadow: 1em 1em 1em black;
    margin-right: 98em;
    border-radius: 1em;
}

.logo {
    width: 9em;
    height:3em ;
    background-color: black;
    margin-left: 70em;
    margin-right: 70em;
    
}
.name {
    font-size: 1.4em;
    text-align: center;
    color:black ;
    background-color: azure;
    font-family: 'El Messiri', sans-serif;
}
.name:hover {
    font-size: 1.5em;
    color:rgb(15, 137, 146) ;
}
.name:active {
    font-size: 1.7em;
    color:black ;
    background-color: rgb(0, 0, 0);
}
.circle1{
    width: 18em;
    height:14em ;
    background-color: black;
    margin: 3em 0em 0em ;
    border-radius:7em;
    float: left;
}
.circle2{
    width: 18em;
    height:14em ;
    background-color: black;
    margin: 17em 0em 0em ;
    border-radius:7em;
    float: left;
}
.circle3{
    width: 18em;
    height:14em ;
    background-color: black;
    margin: 3em 0em 3em ;
    border-radius:7em;
    float: right;
}
.circle4{
    width: 18em;
    height:14em ;
    background-color: black;
    margin: 3em 0em 17em ;
    border-radius:7em;
    float: left;
}
.circle5{
    width: 18em;
    height:14em ;
    background-color: black;
    margin-top: 0em;
    margin-left: 3em;
    margin-right: 0em;
    border-radius:7em;
    float: left;
}
.c1b1 {
    width:3em ;
    height:3em ;
    border-radius: 3em;
    background-color: aliceblue;
    color: cyan;
    margin: 3em 3em 0em ;
    float: left;
}
.c1b2 {
    width:3em ;
    height:3em ;
    border-radius: 3em;
    background-color: aliceblue;
    color: cyan;
    margin: 4em 0em 0em ;
    float: left;
}
.c1b3 {
    width:3em ;
    height:3em ;
    border-radius: 3em;
    background-color: aliceblue;
    color: cyan;
    margin: 2em 2em 0em ;
    float: right;
}
.c1b4 {
    width:3em ;
    height:3em ;
    border-radius: 3em;
    background-color: aliceblue;
    color: cyan;
    margin: 2em 2em 0em ;
    float: left;
}
.c1b5 {
    width:3em ;
    height:3em ;
    border-radius: 3em;
    background-color: aliceblue;
    color: cyan;
    margin: 0em 4em 0em ;
    float: left;
}
.c1b6 {
    width:3em ;
    height:3em ;
    border-radius: 3em;
    background-color: aliceblue;
    color: cyan;
    margin: 0em 7em 0em ;
    float: right;
}
/* _________________________________________________________ */
.c2b1 {
    width:3em ;
    height:3em ;
    border-radius: 3em;
    background-color: aliceblue;
    color: cyan;
    margin: 7em 3em 0em ;
    float: left;
}
.c2b2 {
    width:3em ;
    height:3em ;
    border-radius: 3em;
    background-color: aliceblue;
    color: cyan;
    margin: 4em 3em 0em ;
    float: left;
}
.c2b3 {
    width:3em ;
    height:3em ;
    border-radius: 3em;
    background-color: aliceblue;
    color: cyan;
    margin: 2em 2em 0em ;
    float: right;
}
/* ________________________________________________ */
.c3b1 {
    width:3em ;
    height:3em ;
    border-radius: 3em;
    background-color: aliceblue;
    color: cyan;
    margin: 4em 3em 0em ;
    float: left;
}
.c3b2 {
    width:3em ;
    height:3em ;
    border-radius: 3em;
    background-color: aliceblue;
    color: cyan;
    margin: 4em 2em 0em ;
    float: left;
}
.c3b3 {
    width:3em ;
    height:3em ;
    border-radius: 3em;
    background-color: aliceblue;
    color: cyan;
    margin: 2em 4em 0em ;
    float: right;
}
.c3b4 {
    width:3em ;
    height:3em ;
    border-radius: 3em;
    background-color: aliceblue;
    color: cyan;
    margin: 2em 1em 0em ;
    float: left;
}

.c3b5 {
    width:3em ;
    height:3em ;
    border-radius: 3em;
    background-color: aliceblue;
    color: cyan;
    margin: 0em 7em 0em ;
    float: right;
}
/* ____________________________________________________________ */

.c4b1 {
    width:3em ;
    height:3em ;
    border-radius: 3em;
    background-color: aliceblue;
    color: cyan;
    margin: 7em 3em 0em ;
    float: left;
}
.c4b2 {
    width:3em ;
    height:3em ;
    border-radius: 3em;
    background-color: aliceblue;
    color: cyan;
    margin: 5em 3em 0em ;
    float: right;
}
/* ______________________________________________________________ */

.c5b1 {
    width:3em ;
    height:3em ;
    border-radius: 3em;
    background-color: aliceblue;
    color: cyan;
    margin: 4em 1em 0em ;
    float: left;
}
.c5b2 {
    width:3em ;
    height:3em ;
    border-radius: 3em;
    background-color: aliceblue;
    color: cyan;
    margin: 6em 4em 0em ;
    float: right;
}
.c5b3 {
    width:3em ;
    height:3em ;
    border-radius: 3em;
    background-color: aliceblue;
    color: cyan;
    margin: 9em 1em 0em ;
    float: right;
}

button {
    border: 0em solid black;
}
button:hover {
    border: 1em solid rgb(0, 0, 0);
}
button:active {
    border: 0.4em solid rgb(0, 0, 0);
}

/* _________________________________________________________________________________________________________ */


.cbody {
    background-color: blanchedalmond;
    background-image:url("pic/charm.gif");
}

.clogo {
    padding: 0.3em;
    width: 3.8em;
    font-size: 1.2em;
    text-align: right;
    color:snow ;
    background-color:unset;
    font-family: 'El Messiri', sans-serif;
    text-shadow: 2px 2px 2px #8b12c7;
    margin-right: 3em;

}
 .cname {
    padding: 0.3em;
    width: 3.8em;
    font-size: 1.2em;
    text-align: right;
    color:snow ;
    background-color:unset;
    font-family: 'El Messiri', sans-serif;
    text-shadow: 2px 2px 2px #8b12c7;
    margin-right: 3em;
    outline:groove snow;
} 
.ctext {
    padding: 0.3em;
    font-size: 1em;
    text-align: right;
    color:snow ;
    background-color:unset;
    font-family: 'El Messiri', sans-serif;
    text-shadow: 2px 2px 2px #000000;
    margin-right: 3em;
}
/* _________________________________________________________________________________________________________ */


.ebody {
    background-color: blanchedalmond;
    background-image:url("pic/envy.gif");
}

.elogo {
    padding: 0.3em;
    width: 3.8em;
    font-size: 1.2em;
    text-align: right;
    color:snow ;
    background-color:unset;
    font-family: 'El Messiri', sans-serif;
    text-shadow: 2px 2px 2px #8b12c7;
    margin-right: 3em;

}
 .ename {
    padding: 0.3em;
    width: 3.8em;
    font-size: 1.2em;
    text-align: right;
    color:snow ;
    background-color:unset;
    font-family: 'El Messiri', sans-serif;
    text-shadow: 2px 2px 2px #190424;
    margin-right: 3em;
    outline:groove snow;
} 
.etext {
    padding: 0.3em;
    font-size: 1em;
    text-align: right;
    color:snow ;
    background-color:unset;
    font-family: 'El Messiri', sans-serif;
    text-shadow: 1px 1px 2px azure;
    margin-right: 3em;
}
/* _________________________________________________________________________________________________________ */
.uback{
    width: 3em;
    height: 3em;
    border:none ;
    color: azure;
    background-color: rgba(58, 22, 190, 0.815);
    box-shadow: 1em 1em 1em rgb(72, 197, 255);
    margin-right: 98em;
    border-radius: 1em;
}

.ubody {
    background-color: blanchedalmond;
    background-image:url("pic/curse.gif");
}

.ulogo {
    padding: 0.3em;
    width: 3.8em;
    font-size: 1.2em;
    text-align: right;
    color:snow ;
    background-color:unset;
    font-family: 'El Messiri', sans-serif;
    text-shadow: 2px 2px 2px #8b12c7;
    margin-right: 3em;

}
 .uname {
    padding: 0.3em;
    width: 3.2em;
    font-size: 1.2em;
    text-align: right;
    color:snow ;
    background-color:unset;
    font-family: 'El Messiri', sans-serif;
    text-shadow: 3px 3px 4px #1e63be ,-3px 3px 4px #1e63be;
    margin-right: 3em;
    outline:groove snow;
} 
.utext {
    padding: 0.3em;
    font-size: 1em;
    text-align: right;
    color:snow ;
    background-color:unset;
    font-family: 'El Messiri', sans-serif;
    text-shadow: 1px 1px 2px azure;
    margin-right: 3em;
}
/* _________________________________________________________________________________________________________ */
.mback{
    width: 3em;
    height: 3em;
    border:none ;
    color: azure;
    background-color: rgba(190, 22, 22, 0.815);
    box-shadow: 1em 1em 1em rgb(255, 72, 72);
    margin-right: 98em;
    border-radius: 1em;
}

.mbody {
    background-color: blanchedalmond;
    background-image:url("pic/magic.gif");
}

.mlogo {
    padding: 0.3em;
    width: 3.8em;
    font-size: 1.2em;
    text-align: right;
    color:snow ;
    background-color:unset;
    font-family: 'El Messiri', sans-serif;
    text-shadow: 2px 2px 2px #8b12c7;
    margin-right: 3em;

}
 .mname {
    padding: 0.3em;
    width: 3.9em;
    font-size: 1.2em;
    text-align: right;
    color:snow ;
    background-color:unset;
    font-family: 'El Messiri', sans-serif;
    text-shadow: 3px 3px 4px #ff0202 ,-3px 3px 4px #000000;
    margin-right: 3em;
    outline:groove snow;
} 
.mtext {
    padding: 0.3em;
    font-size: 1em;
    text-align: right;
    color:snow ;
    background-color:unset;
    font-family: 'El Messiri', sans-serif;
    text-shadow: 1px 1px 2px rgb(255, 1, 1);
    margin-right: 3em;
}
/* _________________________________________________________________________________________________________ */

.gback{
    width: 3em;
    height: 3em;
    border:none ;
    color: azure;
    background-color: rgba(190, 255, 255, 0.815);
    box-shadow: 1em 1em 1em rgb(9, 62, 236);
    margin-right: 98em;
    border-radius: 1em;
}

.gbody {
    background-color: blanchedalmond;
    background-image:url("pic/grudge.gif");
}

.glogo {
    padding: 0.3em;
    width: 3.8em;
    font-size: 1.2em;
    text-align: right;
    color:snow ;
    background-color:unset;
    font-family: 'El Messiri', sans-serif;
    text-shadow: 2px 2px 2px #8b12c7;
    margin-right: 3em;

}
 .gname {
    padding: 0.3em;
    width: 3.9em;
    font-size: 1.2em;
    text-align: right;
    color:snow ;
    background-color:unset;
    font-family: 'El Messiri', sans-serif;
    text-shadow: 3px 3px 4px #0285ff ,-3px 3px 4px #ffffff;
    margin-right: 3em;
    outline:groove snow;
} 
.gtext {
    padding: 0.3em;
    font-size: 1em;
    text-align: right;
    color:snow ;
    background-color:unset;
    font-family: 'El Messiri', sans-serif;
    text-shadow: 1px 1px 2px #0285ff;
    margin-right: 3em;
}
/* _________________________________________________________________________________________________________ */

.bback{
    width: 3em;
    height: 3em;
    border:none ;
    color: azure;
    background-color: rgba(21, 142, 190, 0.815);
    box-shadow: 1em 1em 1em rgb(9, 62, 236);
    margin-right: 98em;
    border-radius: 1em;
}

.bbody {
    background-color: blanchedalmond;
    background-image:url("pic/ban.gif");
}

.blogo {
    padding: 0.3em;
    width: 3.8em;
    font-size: 1.2em;
    text-align: right;
    color:snow ;
    background-color:unset;
    font-family: 'El Messiri', sans-serif;
    text-shadow: 2px 2px 2px #8b12c7;
    margin-right: 3em;

}
 .bname {
    padding: 0.3em;
    width: 3.9em;
    font-size: 1.2em;
    text-align: right;
    color:snow ;
    background-color:unset;
    font-family: 'El Messiri', sans-serif;
    text-shadow: 3px 3px 4px #000000 ,-3px 3px 4px #ffffff;
    margin-right: 3em;
    outline:groove snow;
} 
.btext {
    padding: 0.3em;
    font-size: 1em;
    text-align: right;
    color:snow ;
    background-color:unset;
    font-family: 'El Messiri', sans-serif;
    text-shadow: 1px 1px 2px #ffffff;
    margin-right: 3em;
}
/* ______________________________________________________________________ */
/* ______________________________________________________________________ */

.magic-body {
    color: aliceblue;
    background-image: url("pic/magictype.gif");
}
.magic-header {
    width: 100%;
    height: 3em;
    background-color: rgb(38, 100, 100);
   
}
.magic-logo {
    padding: 0.3em;
    font-size: 1.8em;
    text-align: left;
    color:whitesmoke ;
    background-color:unset; 
    font-family: 'Lobster', cursive;
    text-shadow: 2px 3px 2px #000000;
    margin-right: 3em;
}

.magic-text {
    padding: 0.3em;
    font-size: 1.2em;
    text-align: left;
    color:rgb(2, 1, 8) ;
    background-color:unset; 
    font-family: 'Lobster', cursive;
    text-shadow: 1px 2px 2px azure , -1px 2px 2px azure;
    margin-right: 3em;
}
/* ______________________________________________________________________ */

.envy-body {
    color: aliceblue;
    background-image: url("pic/Envytype.gif");
}
.envy-header {
    width: 100%;
    height: 3em;
    background-color: rgb(100, 38, 38);
   
}
.envy-logo {
    padding: 0.3em;
    font-size: 1.8em;
    text-align: left;
    color:whitesmoke ;
    background-color:unset; 
    font-family: 'Lobster', cursive;
    text-shadow: 2px 3px 2px #000000;
    margin-right: 3em;
}

.envy-text {
    padding: 0.3em;
    font-size: 1.2em;
    text-align: left;
    color:rgb(65, 10, 10) ;
    background-color:unset; 
    font-family: 'Lobster', cursive;
    text-shadow: 1px 2px 2px azure , -1px 2px 2px azure;
    margin-right: 3em;
}

/* ______________________________________________________________________ */

.damn-body {
    color: aliceblue;
    background-image: url("pic/Damntype.gif");
}
.damn-header {
    width: 100%;
    height: 3em;
    background-color: rgba(228, 89, 89, 0.842);
   
}
.damn-logo {
    padding: 0.3em;
    font-size: 1.8em;
    text-align: left;
    color:whitesmoke ;
    background-color:unset; 
    font-family: 'Lobster', cursive;
    text-shadow: 2px 3px 2px #000000;
    margin-right: 3em;
}

.damn-text {
    padding: 0.3em;
    font-size: 1.2em;
    text-align: left;
    color:rgb(0, 0, 0) ;
    background-color:unset; 
    font-family: 'Lobster', cursive;
    text-shadow: 1px 2px 2px azure , -1px 2px 2px azure;
    margin-right: 3em;
}

/* ______________________________________________________________________ */
/* ______________________________________________________________________ */

.rising-body {
    color: aliceblue;
    background-image: url("pic/rising\ energy.gif");
}
.rising-header {
    width: 100%;
    height: 5em;
    background-color: rgba(255, 0, 0, 0.842);
   
}
.rising-logo {
    padding: 0.3em;
    font-size: 1.8em;
    text-align: left;
    color:whitesmoke ;
    background-color:unset; 
    font-family: 'Noto Nastaliq Urdu', serif;
    text-shadow: 2px 3px 2px #000000;
    margin-right: 3em;
}

.rising-text {
    padding: 0.3em;
    font-size: 1.2em;
    text-align: left;
    color:rgb(0, 0, 0) ;
    background-color:unset; 
    font-family: 'Press Start 2P', cursive;
    text-shadow: 1px 2px 1px azure , -1px 2px 1px azure;
    margin-right: 3em;
}

/* ______________________________________________________________________ */

.descending-body {
    color: aliceblue;
    background-image: url("pic/descending\ energy.gif");
}
.descending-header {
    width: 100%;
    height: 5em;
    background-color: rgba(0, 38, 255, 0.842);
   
}
.descending-logo {
    padding: 0.3em;
    font-size: 1.8em;
    text-align: left;
    color:whitesmoke ;
    background-color:unset; 
    font-family: 'Noto Nastaliq Urdu', serif;
    text-shadow: 2px 3px 2px #000000;
    margin-right: 3em;
}

.descending-text {
    padding: 0.3em;
    font-size: 1.2em;
    text-align: left;
    color:rgb(0, 0, 0) ;
    background-color:unset; 
    font-family: 'Press Start 2P', cursive;
    text-shadow: 1px 2px 1px azure , -1px 2px 1px azure;
    margin-right: 3em;
}
/* ______________________________________________________________________ */

.power-body {
    background-image: url("pic/Power.gif");
}

.power-head {
    width: 100%;
    height:3em ;
    background-color: rgba(180, 52, 112, 0.87);
    margin-top: 3em;
    border-radius: 10em;
}

.power-main {
    background-color: rgba(58, 34, 57, 0.808);
    margin: auto;
    width: 73em;
    height: 30em;
    border-radius: 10em;
}

.power-logo {
    font-size: 1.4em;
    text-align: center;
    color:black ;
    font-family: 'El Messiri', sans-serif;

    width: 9em;
    height:3em ;
    background-color: black;
    margin: auto;
    border-radius: 7em;
}

.power-name {
    font-size: 1.3em;
    text-align: center;
    color:rgb(255, 254, 254) ;
    background-color: rgb(196, 41, 80);
    font-family: 'El Messiri', sans-serif;
}
.power-name:hover {
    font-size: 1.3em;
    color:rgb(35, 15, 146) ;
}
.power-name:active {
    font-size: 1.4em;
    color:rgb(255, 255, 255) ;
    background-color: rgb(180, 52, 112);
}
/* ______________________________________________________________________ */

.energy-body {
    background-image: url("pic/energy.gif");
}

.energy-head {
    width: 100%;
    height:3em ;
    background-color: rgba(52, 176, 180, 0.87);
    margin-top: 3em;
    border-radius: 10em;
}

.energy-main {
    background-color: rgba(48, 89, 97, 0.808);
    margin: auto;
    width: 73em;
    height: 30em;
    border-radius: 10em;
}

.energy-logo {
    font-size: 1.4em;
    text-align: center;
    color:black ;
    font-family: 'El Messiri', sans-serif;

    width: 9em;
    height:3em ;
    background-color: black;
    margin: auto;
    border-radius: 7em;
}

.energy-name {
    font-size: 1.3em;
    text-align: center;
    color:rgb(255, 254, 254) ;
    background-color: rgb(52, 176, 180);
    font-family: 'El Messiri', sans-serif;
}
.energy-name:hover {
    font-size: 1.3em;
    color:rgb(35, 15, 146) ;
}
.energy-name:active {
    font-size: 1.4em;
    color:rgb(255, 255, 255) ;
    background-color: rgb(52, 176, 180);
}

/* ______________________________________________________________________ */

.destiny-body {
    background-image: url("pic/Destinyfate.gif");
}

.destiny-head {
    width: 100%;
    height:3em ;
    background-color: rgba(52, 61, 180, 0.87);
    margin-top: 3em;
    border-radius: 10em;
}

.destiny-main {
    background-color: rgba(139, 67, 67, 0.726);
    margin: auto;
    width: 73em;
    height: 30em;
    border-radius: 10em;
}

.destiny-logo {
    font-size: 1.4em;
    text-align: center;
    color:black ;
    font-family: 'El Messiri', sans-serif;

    width: 9em;
    height:3em ;
    background-color: black;
    margin: auto;
    border-radius: 7em;
}

.destiny-name {
    font-size: 1.3em;
    text-align: center;
    color:rgb(255, 254, 254) ;
    background-color: rgb(180, 52, 52);
    font-family: 'El Messiri', sans-serif;
    border-radius: 3em;
}
.destiny-name:hover {
    font-size: 1.3em;
    color:rgb(35, 15, 146) ;
}
.destiny-name:active {
    font-size: 1.4em;
    color:rgb(255, 255, 255) ;
    background-color: rgba(52, 61, 180, 0.87);
}
/* ______________________________________________________________________ */

.shape {
	border-bottom: 10em solid #555;
	border-left: 15em solid transparent;
	border-right: 15em solid transparent;
	height: 0;
	width: 20em;
    margin: auto;
}

.sv{
    background-image: url("pic/Genetic.gif");
}
.svl-back {
    width:4em ;
    height:4em ;

    color: rgb(195, 195, 221);
    background-color: rgb(59, 54, 54);
    border-radius:2em ;
    float: left;
}
.svr-back {
    width:4em ;
    height:4em ;

    color: rgb(195, 195, 221);
    background-color: rgb(59, 54, 54);
    border-radius:2em ;
    float: right;
}
.sv-main {
    height: auto;
	width: 45em;
    margin: auto;
    background-color: rgba(240, 248, 255, 0.685);
    color: rgb(59, 54, 54);
    font-size: 1.1em;
}
.sv-logo {
    text-align: center;
    color: #555;
}