* {
    font-family:'Times New Roman', Times, serif ;
}

body {
    background-color: rgba(7, 1, 1, 0.795);
    background-image: url("pic/bg.gif");
    background-size: 700em 100em;
}
.home {
    color: rgb(116, 0, 87);
    background-color: rgb(79, 141, 16);
    border-radius: 30px;
    border:solid 0.2em rgba(122, 11, 85, 0.76);
}
.home:active{
    color: rgb(12, 91, 238);
    background-color: rgb(141, 16, 16);
    border-radius: 30px;
}

.header{
    width: 80.1em;
    height: 10em;
    border:ridge 1.8em rgb(79, 141, 16);
    border-radius: 1em;
    background-image: url("pic/rain\ code.gif");
}
.title {
    margin: auto;
    width: 24em;
    max-width: 25em;
    border: double 0.2em rgb(79, 141, 16);
}

h1 {
    color: rgba(255, 0, 0, 0.747);
    text-shadow:0px 3px 2px rgb(94, 180, 7);
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    left: 50%;
    font-size: 1em;
}

.s-right {
    width: 14em;
    height: 38.3em;
    float: right;
    border: ridge 0.5em rgb(94, 180, 7);
    border-radius: 1em;

    background-color:rgb(3, 71, 20) ;
    background-image: url("pic/class.gif");
}

.p-class {
    width: 10em;
    height: 5em;
    float: right;
    border: ridge 0.5em rgb(94, 180, 7);
    border-radius: 100px;
    margin-left: 10%;
    margin-right: 10%;
    background-image: url("pic/Basic.jpg");
    background-position: 40%;
}
.p0 {
    background-image: url("pic/Basic.jpg");
    background-position: 10%;
    background-size: 10em 7em;
}
.p1 {
    background-image: url("pic/classB.jpg");
    background-position: 10%;
    background-size: 9.9em 4em;
}
.p2 {
    background-image: url("pic/classC.jpg");
    background-position: 10%;
    background-size: 9.9em 4em;
}
.p3 {
    background-image: url("pic/classD.jpg");
    background-position: 10%;
    background-size: 9.9em 5em;
}
.p4 {
    background-image: url("pic/classE.jpg");
    background-position: 10%;
    background-size: 9.9em 5em;
}
.p5 {
    background-image: url("pic/classF.jpg");
    background-position: 10%;
    background-size: 9.9em 5em;
}

.s-left {
    width: 30em;
    height: 38.3em;
    float: left;
    border: ridge 0.5em rgb(94, 180, 7);
    border-radius: 1em;
    background-color:rgb(3, 71, 20) ;
    background-image: url("pic/post.gif");
    background-size: 30em 50em;
}
.p-post {
    width: 24em;
    height: 5em;
    float: right;
    border: ridge 0.5em rgb(94, 180, 7);
    border-radius: 1em;
    margin-left: 9%;
    margin-right: 9%;
}

.m-post {
	width: 25em;
	height: 1.8em;
    border-top: 30px solid rgba(28, 54, 6, 0.856);
	border-left: 30px solid  transparent;
	border-right: 30px solid  transparent;
	border-bottom: 30px solid rgba(89, 175, 19, 0.74);
    margin-left: 41.4%;
    margin-right: 41.4%;
    
}
.posts {
      width: 30em;
      height: 2.3em;
      border: none;
      background-color: rgba(3, 2, 12, 0.76);
      color: rgb(7, 72, 212);
      text-shadow:1px 2px 3px rgb(0, 0, 0);
      margin: auto;
}
.posts:hover{
    display: block;
    width: 20em;
    background-color: rgb(255, 60, 60);
    color: rgb(255, 255, 255);
    text-shadow:1px 2px 3px rgb(199, 10, 10), 1px 2px 3px rgb(18, 200, 255), 1px 2px 3px rgb(34, 18, 255);
    border: ridge 0.1em rgb(72, 255, 0);
    transition: 1s;
    
}
.posts:active{
    width: 20em;
    background-color: rgba(122, 11, 85, 0.76);
    color: rgb(28, 67, 139);
    text-shadow:1px 2px 3px rgb(255, 255, 255), 1px 2px 3px rgb(24, 138, 245), 1px 2px 3px rgb(253, 216, 216);
    border: solid 0.2em rgb(255, 79, 56);
    transition: 0s;
}

.circle {
    width: 12em;
    height: 12em;
    border: double 3em rgba(3, 17, 48, 0.993);
    border-radius: 12em;
    margin-left: 12%;
    margin-right: 12%;
}

.b-circle {
    width: 0;
	height: 0;
    box-shadow: -1em 2em 3em rgb(7, 1, 1), 1em 2em 3em rgb(7, 1, 1);
	border-top: 1.8em solid transparent;
	border-right: 3.3em solid rgb(3, 71, 20);
	border-bottom: 1.8em solid transparent;
    outline:solid 7px rgb(3, 139, 37);

    
    
    float: right;
    border-radius: 2em;
    margin-left: 12%;
    margin-right: 12%;
}

.a-circle {
    width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-top: 1.8em solid transparent;
	border-right: 3.3em solid rgb(3, 80, 22);
	border-bottom: 1.8em solid transparent;
    outline:solid 0.4em rgb(3, 139, 37);

    box-shadow: -1em 2em 3em rgb(7, 1, 1), 1em 2em 3em rgb(7, 1, 1);

    border-radius: 2em;
    margin-left: 30%;
    margin-right: 30%;
    margin-top:7%;
    margin-bottom: 7%;
}

.a-circle:hover{
    width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-top: 1.8em solid transparent;
	border-right: 5.3em solid rgb(22, 241, 77);
	border-bottom: 1.8em solid transparent;
    outline:solid 0.4em rgb(124, 160, 67);

    box-shadow: -2em 2em 3em rgb(255, 255, 255), 1em 2em 3em rgb(255, 255, 255);
    transition: 0.5s;
    border-radius: 2em;
    margin-left: 20%;
    margin-right: 20%;
    margin-top:7%;
    margin-bottom: 7%;
}

.a-circle:active{
    width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-top: 1.8em solid transparent;
	border-right: 5.3em solid rgb(255, 0, 0);
	border-bottom: 1.8em solid transparent;
    outline:solid 0.4em rgb(80, 129, 0);
    transform: skew(30deg);

    box-shadow: -2em 2em 3em rgb(255, 255, 255), 1em 2em 3em rgb(255, 255, 255);
    transition: 0.5s;
    border-radius: 2em;
    margin-left: 20%;
    margin-right: 20%;
    margin-top:7%;
    margin-bottom: 7%;
}

.b-circle:hover{
    width: 0;
	height: 0;
    box-shadow: -2em 2em 3em rgb(255, 255, 255), 1em 2em 3em rgb(255, 255, 255);
	border-top: 2.1em solid transparent;
	border-right: 4.3em solid rgb(235, 28, 13);
	border-bottom: 2.1em solid transparent;
    outline:solid 7px rgb(13, 231, 13);

    
    transition: 1s;
    float: right;
    border-radius: 2em;
    margin-left: 12%;
    margin-right: 12%;
}

.b-circle:active{
	width: 0;
	height: 0;
	border-left: 2.3em solid transparent;
	border-right: 2.3em solid transparent;
	border-bottom: 2.1em solid rgb(235, 28, 13);
    box-shadow: -2em 2em 3em rgb(255, 255, 255), 1em 2em 3em rgb(255, 255, 255);
    outline:solid 7px rgb(13, 231, 13);

    
    transition: 0s;
    float: right;
    border-radius: 2em;
    margin-left: 12%;
    margin-right: 12%;
}

.b-square {
    width: 7em;
    height: auto;
    text-shadow: -1em 2em 3em rgb(255, 255, 255), 1em 2em 3em rgb(255, 255, 255);
    color: rgb(181, 198, 247);
    outline:solid 5px rgb(80, 129, 0);
    float: left;
    border-radius: 0.5em;
    margin-left: 7%;
    margin-right: 7%;
    text-align: center;
    font-size: 1.6em;
    background-color: darkviolet;
    font-family: 'El Messiri', sans-serif;
}

.lock {
    color: red;
    background-color: rgb(0, 0, 0);
}
.s1 {
    color: rgb(0, 110, 255);
    background-color: rgb(189, 214, 243);
}
.s2 {
    color: rgb(11, 175, 197);
    background-color: rgb(143, 0, 0);
}
.s3 {
    color: rgb(158, 33, 152);
    background-color: rgb(8, 253, 20);
}